<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.jozeflang.android.germanirregularverbs.main"
	android:versionCode="10" android:versionName="1.1">
	<application
	    android:name="com.jozeflang.android.germanirregularverbs.main.GermanIrregularVerbsApplication" 
	    android:icon="@drawable/ic_launcher" 
	    android:label="@string/app_name">

		<activity android:label="@string/app_name" android:name="EntryPointActivity">
		    <intent-filter>
			    <action android:name="android.intent.action.MAIN" />
			    <category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

        <activity android:label="@string/verblist_activity_name" android:name="VerbListActivity">
        </activity>

        <activity android:label="@string/settings_activity_name" android:name="SettingsActivity">
            <intent-filter>
                <category android:name="android.intent.category.PREFERENCE"/>
            </intent-filter>
        </activity>

	</application>
    
	<uses-sdk android:minSdkVersion="8"
              android:targetSdkVersion="8"/>
</manifest>
